@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans JP", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body{
    background-color: #F8FAFC;
  }
}
/* Hide scrollbar (mobile friendly) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
